body,html,header{
	margin:0px;
	padding:0px;
	display: flex;
}

body{
	font-family: 'Nunito';
	max-width: 1980px;
}

header,body,html{
	width:100%;
	height: 100%;
}

h1{ /*les titres de chaque paragraphe */
    text-align: center;
    font-size: 40px;
    color: rgba(246,131,87);
    text-shadow: -1px 0 3px #808080; /*reflet gris*/
}

h3 a {
	text-decoration: none;
	color:rgba(246,131,87);
}

header{
	background: url("../propos/img/image.jpg") no-repeat center center;
	background-size: cover;
	box-shadow: 0px 3px 6px #808080;
	color: white;
}


.content{
	display: block;
	text-align: center;
	vertical-align: center;
	font-size: 20px;
	transform: translate(2%,28%);
}

.main{

	max-height: 700px;
	margin: auto;
}

form{

	margin: 25px;
	text-align: center;
}

label{
	vertical-align: top;
}

.texte1{
	position: absolute;
	display: block;
	text-align: center;
	top: 150%;
	left: 60%;
	transform: translate(-65%,-5%);
	width: 900px;
	padding:30px;
	background:#fff;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 0px 15px 60px rgba(0,0,0,.4);

}
.texte3, .texte4{
	display: block;
	text-align: center;
	vertical-align: center;
 /*interieur*/
/*exterieur*/
	font-size: 20px;
	text-shadow: 6px 1px 10px grey;
	transform: translate(2%,2%);


}




.input-field {
	width: 250px;
	height: 40px;
	margin-top: 20px;
	padding-left: 40px;
	border: 1px solid #777;
	border-radius: 14px;
	outline: none;

}
.textarea-field {
	height: 80px;
	padding-top: 20px;
	width:50%;
	border-radius: 14px;
	border: 1px solid #777;

   }

 .btn {
 	border-radius: 20px;
 	color:#fff;
 	margin-top: 20px;
 	padding: 10px;
 	background-color:rgba(246,131,87);
 	font-size: 12px;
 	border: none;
 	cursor:pointer;
 }
 .bouton {
 	border-radius: 20px;
 	color:#fff;
	margin-top: 15px;
 	padding: 25px;
 	background-color:rgba(246,131,87);
 	font-size: 18px;
 	border: none;
 	cursor:pointer;
 	width:20%


 }

.logoSocial img{
	width: 100px ;
	height: 100px ;
	margin : 1% ;
}
 .sub {
	border-radius: 10px;
 	color:#fff;
	margin-top: 10px;
 	padding: 15px;
 	background-color:rgba(246,131,87);
 	font-size: 18px;
 	border: none;
 	cursor:pointer;
 	width:10%


 }
